/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  color: #3B4050;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  color: #A59678;
}

a {
  text-decoration: none;
  color: #3B4050;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}

.btn {
  display: inline-block;
  background-color: #A59678;
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  padding: .3em 1.5em;
  font-weight: 700;
  font-family: 'Oswald', serif;
  letter-spacing: .5px;
  cursor: pointer;
}

/* Header, Navigation */

.header {
  background-color: #2E323F;
  padding: .5rem 0;
  height: 50px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1000;
  opacity: 0;
  overflow-y: hidden;
  transition: .4s;
  padding-bottom: .5rem;
}

.nav--active .nav__list {
  height: max-content;
  background-color: #2E323F;
  opacity: 1;
  overflow-y: auto;
}

.nav__link {
  display: block;
  padding: .2em 0;
  margin: 0 1.5rem;
  border-bottom: 2px solid #3B4050;
  color: #fff;
  font-family: 'Oswald', serif;
  text-transform: uppercase;
}

.nav__link--btn {
  background-color: transparent;
  border-radius: 0;
}

.nav__toggle {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.hamburger {
  width: 15px;
  display: block;
  border-top: 2px solid;
}

.nav--active .hamburger {
  border-top-color: transparent;
}

.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: inherit;
  height: 2px;
  margin-top: 4px;
  border-top: 2px solid;
  position: relative;
  transition: .4s;
}

.nav--active .hamburger::before {
  transform: rotate(135deg);
}

.nav--active .hamburger::after {
  transform: rotate(-135deg);
  top: -6px;
}

/* Intro */
.intro {
  background-color: #3B4050;
  color: #fff;
  padding: 2rem 0;
}

.intro__title {
  color: #fff;
  font-size: clamp(3rem, 2vw, 5rem);
  line-height: 1.2;
}

.intro__title span {
  color: #A59678;
}

.intro__description {
  font-size: 1.25rem;
  color: #b2b5bd;
}

/* Sections */
.section-title {
  font-size: 1.875rem;
  margin-bottom: .5rem;
  line-height: 1.1;
}

.section-two {
  background-color: #f1f1f1;
  padding: 3rem 0;
  text-align: center;
}

.section-three {
  padding: 3rem 0;
}

.section-three__content {
  font-size: 1.325rem;
}

.section-three .section-title {
  font-size: 2.25rem;
}

/* Sidebar  */
.sidebar {
  text-align: center;
  color: #fff;
}

.sidebar .row {
  gap: 2rem;
}

.sidebar-title {
  color: #fff;
  font-size: 1.875rem;
  margin-bottom: .5rem;
}

.sidebar__content {
  background-color: #3b404f;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* Footer */
.footer {
  padding: 3rem 0;
  background-color: #3b404f;
  color: #b2b5bd;
  font-size: 1rem;
}

.footer__title {
  color: #fff;
  text-align: center;
  font-size: 4rem;
}

.footer__subtitle {
  font-size: 1.325rem;
  margin-bottom: .5rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.footer__link {
  color: inherit;
  display: inline-block;
  padding: .5rem 0;
}

/* Medium screens */

@media (min-width: 800px) {
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    padding-bottom: 0;
    height: auto;
    position: unset;
    opacity: 1;
  }

  .nav__link {
    border-bottom: none;
  }

  .nav__link--btn {
    background-color: #A59678;
    border-radius: 100px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .section-two .row,
  .sidebar .row,
  .footer .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .row {
    flex-wrap: wrap;
  }
}