*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 'Roboto' sans-serif;
  font-size: 18px;
}

.example {
  width: 90%;
  margin: 5em auto;
  padding: 10em 0;
  background-color: steelblue;
}

@media (max-width: 600px) {
  .example {
    background-color: rebeccapurple;
  }
}

@media (min-width: 800px) and (max-width: 1500px) {
  .example {
    background-color: bisque;
  }
}