@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1128px;
}